{% extends "base.html" %}
{% block navigation %}
<!-- Navbar -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
	<div class="container-lg">
		<a href="" class="navbar-brand">ResGate </a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</nav>
{% endblock %}

{% block content %}

<section class="p-5">
	<div class="container">
		<div class="row text-center g-4">
			<div class="col-md">
				<div class="card">
					<div class="card-header">
						<h1>Login</h1>

					</div>
					<!-- <div class="card-body">
						<h1 class="card-title">{{buyer_count}}</h1>
						<p class="card-text">Total buying customers</p>
						<a href="" class="btn btn-primary">View all buyers</a>
					</div> -->
					<form method="post" action="{% url 'login' %}">
						{% csrf_token %}
						<div class="mb-3">
						  <label for="username" class="form-label">Username</label>
						  <input type="username" class="form-control" id="inputUsername" aria-describedby="emailHelp">
						</div>
						<div class="mb-3">
						  <label for="inputPassword" class="form-label">Password</label>
						  <input type="password" class="form-control" id="inputPassword">
						</div>
						<button type="submit" class="btn btn-primary">Submit</button>
					  </form>
				</div>
			</div>
		</div>
	</div>
</section>



{% endblock %}