{% extends "base.html" %}
{% block navigation %}
<!-- Navbar -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
	<div class="container-lg">
		<a href="" class="navbar-brand">ResGate </a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</nav>
{% endblock %}

{% block content %}
{% load crispy_forms_tags %} 
<section class="p-5">
	<div class="container">
		<div class="row text-center g-4">
			<div class="col-md">
				<div class="card">
					<div class="card-header">
						<h1>Login</h1>

					</div>

					<div class="card-body">
						<form method="POST">
							{% csrf_token %}
							{{ login_form|crispy }}
							<button class="btn btn-primary" type="submit">Login</button>
						</form>
						<br>
						<p class="text-center">Don't have an account?</p>
						<a href="{% url 'student_signup' %}" class="btn btn-secondary">Signup as student</a>
						<!-- <p>or</p> -->
						<a href="{% url 'prof_signup' %}" class="btn btn-secondary">Signup as professor</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



{% endblock %}