{% extends "base.html" %}
{% block navigation %}
<!-- Navbar -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
	<div class="container-lg">
		<a href="" class="navbar-brand">ResGate </a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</nav>
{% endblock %}

{% block content %}

<section class="p-5">
	<div class="container">
		<div class="row text-center g-4">
			<div class="col-md">
				<div class="card">
					<div class="card-header">
						<h1>Login</h1>

					</div>

					<div class="container py-5">
						<form method="POST">
						  {% csrf_token %}
						  {{ login_form }}
						  <button class="btn btn-primary" type="submit">Login</button>
						</form>
						<p class="text-center">Don't have an account? <a href="/signup">Create an account</a>.</p>
					  </div>
				</div>
			</div>
		</div>
	</div>
</section>



{% endblock %}