{% extends "base.html" %}
{% block navigation %}
<!-- Navbar -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
	<div class="container-lg">
		<a href="" class="navbar-brand">ResGate </a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
			<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="#navmenu">
		<ul class="navbar-nav ms-auto">
			
			<li class="nav-item">
				<a href="{% url 'login' %}" class="nav-link">Login</a>
			</li>
		</ul>
	</div>
</div>
</nav>
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}

<section class="p-5">
	<div class="container">
		<div class="row text-center g-4">
			<div class="col-md">
				<div class="card">
					<div class="card-header">
						<h1>Signup as Professor</h1>

					</div>

					<div class="container py-5">
						<form method="POST">
							{% csrf_token %}
							{{ prof_signup_form|crispy }}
							<button class="btn btn-primary" type="submit">Register</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}