{% extends "base.html" %}
{% block navigation %}
<!-- Navbar -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
	<div class="container-lg">
		<a href="" class="navbar-brand">ResGate <span class="badge bg-secondary">Professor</span></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="#navmenu">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item">
					<a href="{% url prof_home %}" class="nav-link {% if name  == 'prof_home' %} active {% endif %}">Home</a>
				</li>
				<li class="nav-item">
					<a href="{% url prof_students %}" class="nav-link {% if  name  == 'prof_students' %} active {% endif %}">Students</a>
				</li>
				<li class="nav-item">
					<a href="{% url prof_projects %}" class="nav-link {% if name  == 'prof_projects' %} active {% endif %}">Projects</a>
				</li>
				<li class="nav-item">
					<a href="{% url logout %}" class="nav-link text-danger">Logout</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
{% endblock %}

{% block content %}
{% endblock %}