{% extends "students/stud_base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<main class="container my-4">
	<div class="row">
		<div class="col-md-6">
			<h2 class="mb-4">Welcome to ResGate,</h2>
			<h5>A platform to help IIITD students get better research opportunities</h5>
			<br> </br>
		</div>


	</div>

	<div class="row">
		<h3 class="mb-4 pb-1">Suggested Openings</h3>
		{% for rec,score in recommendations %}
			<div class="col-sm-6 pb-3">
				<div class="card">
					<div class="card-body">
						{% if isProfile %}
						<h5 class="card-title">{{rec.title}} <span class="badge badge-info">{{score}}% match</span>
						</h5>
						{% else %}
						<h5 class="card-title">{{rec.title}} 
						{% endif %}

						<p class="card-text">{{rec.description}} </p>
						<p>{% for domain in rec.domain.all %}
							<span class="badge badge-dark">{{domain}}</span>
						{% endfor %}</p>
						<a href="#" class="btn btn-primary">Apply &nbsp <i
								class="fa-solid fa-arrow-up-right-from-square"></i></a>
					</div>
				</div>
			</div>
		{% endfor %}
		<!-- <div class="col-sm-6 pb-3">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Multimodal Models Integration <span class="badge badge-info">95% match</span>
					</h5>
					<p class="card-text">Building transformers based multimodal models integrating testing, strains,
						mobility and social media datasets. We have had exciting learnings and features from this
						semester and you’ll be working in smaller teams. </p>
					<p><span class="badge badge-dark">Natural Language Processing</span></p>
					<a href="#" class="btn btn-primary">Apply &nbsp <i
							class="fa-solid fa-arrow-up-right-from-square"></i></a>
				</div>
			</div>
		</div>

		<div class="col-sm-6 pb-3">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Radio Frequency Energy Harvesting <span class="badge badge-info">92% match</span>
					</h5>
					<p class="card-text">We are looking for enthusiastic students willing to invest at least one semester in this project. If the student's progress seems satisfactory, they can extend this project in their BTP or MTP. </p>
					<p><span class="badge badge-dark">Computer Networks & Systems</span></p>
					<a href="#" class="btn btn-primary">Apply &nbsp <i
							class="fa-solid fa-arrow-up-right-from-square"></i></a>
				</div>
			</div>
		</div>

		<div class="col-sm-6 pb-3">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Visual Question Answering  <span class="badge badge-info">90% match</span>
					</h5>
					<p class="card-text">VQA is a multimodal task that involves understanding both visual and linguistic inputs and using that knowledge to generate a natural language answer. In a VQA task, a model is presented with an image and a question about the image in natural language. The model must then use its multimodal knowledge to generate a natural language answer.  </p>
					<p><span class="badge badge-dark">Natural Language Processing</span> <span class="badge badge-dark">Computer Vision</span> </p>
					
					<a href="#" class="btn btn-primary">Apply &nbsp <i
							class="fa-solid fa-arrow-up-right-from-square"></i></a>
				</div>
			</div>
		</div>

		<div class="col-sm-6 pb-3">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Event MMKG <span class="badge badge-info">85% match</span></h5>
						<p class="card-text">Considering students for constructing an MMKG with multiple modalities. could be done in one IP/IS. Though it could be extended to further IP/IS or consider a BTP from the start </p>
						<p><span class="badge badge-dark">Artificial Intelligence </span> <span class="badge badge-dark">Python</span></p>
						<a href="#" class="btn btn-primary">Apply &nbsp  <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
				</div>
			</div>
		</div> -->



	</div>
</main>

{% endblock %}