{% extends "students/stud_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Home{% endblock %}

{% block content %}
<main class="container my-4">
  <div class="row">
    <h3 class="mb-4 pb-1">Profile</h3>

    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'portal/images/image.jpg'%}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{stud.user.username}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{stud.branch}} {{stud.program}} {{stud.batch}}</h6>
          <p><a href="mailto: samarth19328@iiitd.ac.in" class="text-decoration-none card-link">
              {{stud.user.email}}</a></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-decoration-underline">Tags</li>
          <li class="list-group-item">{{stud.tags}}</li>
        </ul>
      </div>
    </div>

    <div class="col-md-3">
      <form method="POST" enctype="multipart/form-data".>
          {% csrf_token %}
          {{ addresumeform|crispy }}
          <button class="btn btn-primary" type="submit">Update profile</button>
      </form>
    </div>

    <div class="col-md-6">
      <div class="row">
        <h5>Applications</h5>
        <div class="col-sm-12 pb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Visual Question Answering
              </h5>
              <h6 class="card-text">Status: <span class="badge badge-info">Pending</span></h6>
              <p class="card-text">VQA is a multimodal task that involves understanding both visual and linguistic
                inputs and using that knowledge to generate a natural language answer. In a VQA task, a model is
                presented with an image and a question about the image in natural language. The model must then use its
                multimodal knowledge to generate a natural language answer. </p>
              <p><span class="badge badge-dark">Natural Language Processing</span> <span
                  class="badge badge-dark">Computer Vision</span> </p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 pb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Event MMKG
              </h5>
              <h6 class="card-text">Status: <span class="badge badge-danger">Rejected</span></h6>
              <p class="card-text">Considering students for constructing an MMKG with multiple modalities. could be done
                in one IP/IS. Though it could be extended to further IP/IS or consider a BTP from the start </p>
              <p><span class="badge badge-dark">Artificial Intelligence </span> <span
                  class="badge badge-dark">Python</span></p>
            </div>
          </div>
        </div>
        {% for application in applications %}
          <div class="col-sm-12 pb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{application.project.title}}
                </h5>
                <h6 class="card-text">Status: <span class="badge badge-danger">{{application.status}}</span></h6>
                <p class="card-text">{{application.project.description}} </p>
                <p><span class="badge badge-dark">Artificial Intelligence </span> <span
                    class="badge badge-dark">Python</span></p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</main>

{% endblock %}