{% extends "students/stud_base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<main class="container my-4">
	<div class="row">
		<!-- Filters -->
		<div class="col-md-3">
			<h3 class="mb-4 pb-1">Filters</h3>

			<!-- By Lab -->
			<!-- <div class="card mb-4">
				<h6 class="card-header">Lab</h6>
				<div class="list-group list-group-flush">
					{% for color in colors %}
					<li class="list-group-item">
						<input class="filter-checkbox" data-filter="color" value="{{color.color__id}}"
							type="checkbox" />&nbsp;
						<button class="btn"
							style="background-color: {{color.color__color_code}}; margin-top: -5px;"></button>
					</li>
					{% endfor %}
				</div>
			</div> -->
			<div class="accordion" id="accordionExample">
				<!-- By Lab -->
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingOne">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
							data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
							Labs
						</button>
					</h2>
					<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
						data-bs-parent="#accordionExample">
						<div class="accordion-body">
							<form action="" method="post" class="lab_form">
								<!-- <input type="hidden" name="csrfmiddlewaretoken"
									value="YMFSkOHM6FWvR8FUn3QRpInQZTbNI2VXkklrEhmCqxLj8LZWtbj97ygp7EH4nXJb"> -->
									{% csrf_token %}
									<div class="mx-auto text-center">
										{% for lab in labs %}
										<input type="checkbox" name="lab_name" id="{{lab.name}}" value="{{lab.name}}">
										<label for="{{lab.name}}" style="margin-right: 10px;">{{lab.name}}</label>
										{% endfor %}
									</div>
								<br>
								<div class="mx-auto text-center" style="margin-top: 10px;">
									<button type="submit" class="btn btn-outline-primary" name="lab-submit"
										onclick="OpenModal()">Submit</button>
								</div>
							</form>
							<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
							<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
						</div>
					</div>
				</div>
				<!-- By Domain -->
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingTwo">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
							data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							Domains
						</button>
					</h2>
					<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
						data-bs-parent="#accordionExample">
						<div class="accordion-body">
							<form action="" method="post" class="domain_form">
								<!-- <input type="hidden" name="csrfmiddlewaretoken"
									value="YMFSkOHM6FWvR8FUn3QRpInQZTbNI2VXkklrEhmCqxLj8LZWtbj97ygp7EH4nXJb"> -->
									{% csrf_token %}
									<div class="mx-auto text-center">
										{% for domain in domains %}
										<input type="checkbox" name="domain_name" id="{{domain.title}}" value="{{domain.title}}">
										<label for="{{domain.title}}" style="margin-right: 10px;">{{domain.title}}</label>
										{% endfor %}
									</div>
								<br>
								<div class="mx-auto text-center" style="margin-top: 10px;">
									<button type="submit" class="btn btn-outline-primary" name="domain-submit"
										onclick="OpenModal()">Submit</button>
								</div>
							</form>
							<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
							<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
						</div>
					</div>
				</div>
			</div>	

			<!-- By Professor -->
			<!-- <div class="card mb-4">
				<h6 class="card-header">Professor</h6>
				<div class="list-group list-group-flush">
					{% for cat in cats %}
					<li class="list-group-item">
						<input class="filter-checkbox" data-filter="category" value="{{cat.category__id}}"
							type="checkbox" />&nbsp;
						{{cat.category__title}}
					</li>
					{% endfor %}
				</div>
			</div> -->


			<!-- By Professor -->
			<!-- <div class="card mb-4">
				<h6 class="card-header">Domain</h6>
				<div class="list-group list-group-flush">
					{% for brand in brands %}
					<li class="list-group-item">
						<input class="filter-checkbox" data-filter="brand" value="{{brand.brand__id}}"
							type="checkbox" />&nbsp;
						{{brand.brand__title}}
					</li>
					{% endfor %}
				</div>
			</div> -->

		</div>

		<div class="col-md-9">
			<!-- Openings -->
			<h3 class="mb-4 pb-1 pl-3">
				Openings
			</h3>

			<div class="col-sm-12 p-0">
				<div class="card border-0 mb-3">
					<div class="card-body">
						<h5 class="card-title">Multimodal Models Integration</h5>
						<p class="card-text">Building transformers based multimodal models integrating testing, strains,
							mobility and social media datasets. We have had exciting learnings and features from this
							semester and you’ll be working in smaller teams. </p>
						<p><span class="badge badge-dark">Natural Language Processing</span></p>
						<a href="#" class="btn btn-primary">Apply &nbsp <i
								class="fa-solid fa-arrow-up-right-from-square"></i></a>
					</div>
				</div>
				<p class="border-bottom "></p>
			</div>

			<div class="col-sm-12 p-0">
				<div class="card border-0 mb-3">
					<div class="card-body">
						<h5 class="card-title">Event MMKG</h5>
						<p class="card-text">Considering students for constructing an MMKG with multiple modalities.
							could be done in one IP/IS. Though it could be extended to further IP/IS or consider a BTP
							from the start </p>
						<p><span class="badge badge-dark">Artificial Intelligence</span> <span
								class="badge badge-dark">Python</span></p>
						<a href="#" class="btn btn-primary">Apply &nbsp <i
								class="fa-solid fa-arrow-up-right-from-square"></i></a>
					</div>
				</div>
				<p class="border-bottom "></p>
			</div>

			<div class="col-sm-12 p-0">
				<div class="card border-0 mb-3">
					<div class="card-body">
						<h5 class="card-title">Visual Question Answering 
						</h5>
						<p class="card-text">VQA is a multimodal task that involves understanding both visual and
							linguistic inputs and using that knowledge to generate a natural language answer. In a VQA
							task, a model is presented with an image and a question about the image in natural language.
							The model must then use its multimodal knowledge to generate a natural language answer. </p>
						<p><span class="badge badge-dark">Natural Language Processing</span> <span
								class="badge badge-dark">Computer Vision</span> </p>

						<a href="#" class="btn btn-primary">Apply &nbsp <i
								class="fa-solid fa-arrow-up-right-from-square"></i></a>
					</div>
				</div>
				<p class="border-bottom "></p>
			</div>

			<div class="col-sm-12 p-0">
				<div class="card border-0 mb-3">
					<div class="card-body">
						<h5 class="card-title">Event MMKG</h5>
						<p class="card-text">Considering students for constructing an MMKG with multiple modalities.
							could be done in one IP/IS. Though it could be extended to further IP/IS or consider a BTP
							from the start </p>
						<p><span class="badge badge-dark">Artificial Intelligence </span> <span
								class="badge badge-dark">Python</span></p>
						<a href="#" class="btn btn-primary">Apply &nbsp <i
								class="fa-solid fa-arrow-up-right-from-square"></i></a>
					</div>
				</div>
				<p class="border-bottom "></p>
			</div>

		</div>






	</div>
</main>

{% endblock %}