{% extends "base.html" %}
{% block navigation %}
<!-- Navbar -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
	<div class="container-lg">
		<a href="" class="navbar-brand">ResGate <span class="badge bg-secondary">Student</span></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="#navmenu">
			<ul class="navbar-nav ms-auto">
			<!-- <form class="d-flex" role="search">
				<input class="form-control me-2" type="search" placeholder="Search">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form> -->

				<li class="nav-item">
					<a href="{% url 'student_home' %}" class="nav-link {% if name  == 'student_home' %} active {% endif %}">Home</a>
				</li>
				<li class="nav-item">
					<a href="{% url 'student_browse' %}" class="nav-link {% if name  == 'student_browse' %} active {% endif %}">Browse</a>
				</li>
				<li class="nav-item">
					<a href="{% url 'student_lab' %}" class="nav-link {% if name  == 'student_labs' %} active {% endif %}">Labs</a>
				</li>
				<li class="nav-item">
					<a href="{% url 'student_domain' %}" class="nav-link {% if name  == 'student_domains' %} active {% endif %}">Domain</a>
				</li>


				<li class="nav-item">
					<a href="" class="nav-link text-danger">Logout</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
{% endblock %}

{% block content %}
{% endblock %}